body {
  background: #461a1a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 16px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h2 {
  text-align: center;
  font-size: 24px;
}

input,
button {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.buttons {
  display: flex;
  gap: 10px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0;
  list-style: none;
}

ul li {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
}
